@import "tailwindcss";

@theme {
  --color-azul: #006CAD;
  --color-azul-escuro: #012B71;
  --color-laranja: #FC8F01;
  --color-laranja-claro: #EDAC39;
  --color-cinza: #717171;
  --color-cinza-claro: #F5F5F5;
  --font-caixa: "CAIXA Std", system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-caixa);
    overflow-x: hidden;
  }
}
